
body {
    background-color: rgb(230, 227, 197);
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #cd066d;
    background-color: #490b64;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
/* Change the color of links on hover */  
.topnav a:hover {
    background-color: #5a0b64;
    color: #cd066d;
}

.topnav a.active {
    background-color: #8e8e8e;
    color: #d54991;
}

.grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.textgrid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Jacques+Francois+Shadow&family=Life+Savers&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ACA5A7;
    font-family: 'Life Savers', serif;
    font-size: 20px;
}

header {
    background-color: #45253B;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

nav a {
    font-family: 'Irish Grover', cursive;
    font-size: 48px;
    color: #AF4E75;
    text-shadow: 2px 2px 4px #222222;
    width: 33%;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

a.active {
    background-color: #ACA5A7;
    border-radius: 25px;
    margin-bottom: -25px;
}

div.contentContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

div.bubble {
    background-color: #E7E6DC;
    border-radius: 25px;
    padding: 1em;
    margin: 2em;
    box-shadow: 2px 5px 2px #888888;
    max-width: 700px;
}

div.photo {

}

img {
    width: 100%;
    height: auto;
    border-radius: 25px;
}

h1 {
    font-family: 'Jacques Francois Shadow', serif;
    color: #AF4E75;
    font-size: 32px;
}