@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Jacques+Francois+Shadow&family=Life+Savers&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ACA5A7;
    font-family: 'Life Savers', serif;
    font-size: 20px;
}

header {
    background-color: #45253B;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

nav a {
    font-family: 'Irish Grover', cursive;
    font-size: 48px;
    color: #AF4E75;
    text-shadow: 2px 2px 4px #222222;
    width: 33%;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    border-radius: 25px;
}

a.active {
    background-color: #ACA5A7;
    margin-bottom: -25px;
}

nav a:hover {
    color: #222222;
    background-color: #AF4E75;
    margin-bottom: -25px;
}


div.contentContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #ACA5A7;
    position: relative;
    z-index: 1;
}

div.bubble {
    background-color: #E7E6DC;
    border-radius: 25px;
    padding: 1em;
    margin: 2em;
    box-shadow: 2px 5px 2px #888888;
    max-width: 700px;
}

img {
    width: 100%;
    height: auto;
    border-radius: 25px;
    margin-top: -50%;
}

div.photo {
    margin-top: 45%;
}


h1 {
    font-family: 'Jacques Francois Shadow', serif;
    color: #AF4E75;
    font-size: 32px;
}